/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');
/* -- */

/* base configurations */
:root{
  font-family: 'Plus Jakarta Sans', sans-serif;
  padding: 0;
  margin: 0;
}
/* -- */


@tailwind base;
@tailwind components;
@tailwind utilities;